*{
  background-color: #282828;
  color: white;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a4e6c;
}
.nav li{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}
.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #2a4e6c;
}
li a:hover {
  background-color: #111;
}
footer{
  text-align: center;
}
footer a img{
  padding: 30px;
  width: 75px;
}
.portfolio-img{
  width: 30%;
}