*{
  background-color: #282828;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a4e6c;
}
li{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #2a4e6c;
}
li a:hover {
  background-color: #111;
}