*{
  color: white;
  margin: 0%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: #404040;
}
.all{
  margin: 40px;
  background-color: #212a2e;
  border-radius: 10px;
  padding: 10px;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a4e6c;
}
.nav li{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #2a4e6c;
}
li a:hover {
  background-color: #111;
}
/* About Section */
.about-container{
  display: flex;
}
.image-container{
  margin: 20px;
}
.griffin-pic{
  border-radius: 50%;
  border: solid 5px #2a4e6c;
}
.about-text{
  display: flex;
  
}
/* Footer */
footer{
  text-align: center;
}
footer a img{
  padding: 15px;
  width: 75px;
}
.footer-img:hover{

}
/* Portfolio */
.image-grid{
  --gap:16px;
  --num-cols:2;
  --row-height: 300px;
  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
.portfolio-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 3px #2a4e6c;
}
